[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-autoclose"]
	path = vim/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
