/*******************************************************************************
 *
 * Configuration for a Window Switcher
 *
 ********************************************************************************/

@import "config"



* {
    entry-placeholder: "C/S-Enter: Execute action on window | C-S-Delete: Kill window";
}

