/*******************************************************************************
 *
 * Configuration for an App Launcher
 *
 ********************************************************************************/

@import "config"



* {
    entry-placeholder: "C/S-Enter: Run in terminal | C-S-Delete: Remove from history";
}

