/*******************************************************************************
 *
 * Configuration for a File Launcher
 *
 ********************************************************************************/

@import "config"



* {
    entry-placeholder: "C/S-Enter: Make current dir the initial one";
}

