/*******************************************************************************
 *
 * Configuration for a Keybind Viewer
 *
 ********************************************************************************/

@import "config"



* {

}

